<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-10">
            <form [formGroup]="surveyForm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label>Summary</label>
                    <input type="text" class="form-control" formControlName="summary">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Select Survey Type</label>
                    <select class="form-control" formControlName="surveyType">
                        <option *ngFor="let c of surveyTypes" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                </div>
               
                <div class="form-group" id="questions">
                    <div *ngFor="let c of questions;let i = index">
                        <div class="row">

                            <div class="col-md-8">
                                <label>{{c.description}}</label>
                            </div>
                            <div class="col-md-4">
                                <button (click)="removeQuestion(i)">Remove</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn-toolbar">
                    <button (click)="createQuestionForm()" class="btn btn-primary mr-2">Add Question</button>
                    
                    <button type="submit" class="btn btn-primary" [disabled]="surveyForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="documentFormModal">
      <div class="modal-dialog modal-wide">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
            
            <h4 class="modal-title">Add new question</h4>
          </div>
          <div class="modal-body">
                <app-survey-question (addQuestionEventEmitter)="addQuestion($event)"></app-survey-question>
          </div>
        </div>
      </div>
  </div>