<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-10">
            <form [formGroup]="surveyForm"  (ngSubmit)="onClickSubmit()">
                <div class="form-group">
                    <label>Please answer the following survey: {{surveyName}}</label>
                </div>
                <div class="form-group">
                    <label>Summary: {{surveySummary}}</label>
                </div>

                <div class="form-group" *ngIf="surveyLoaded" formArrayName="questionAnswers">
                    <div *ngFor="let questionAnswer of questionAnswers.controls;let i = index">
                        <div class="row">

                            <div class="col-md-8">
                                <label>{{i+1}}: {{questions[i].description}}</label>
                            </div>
                            
                        </div>

                        <div class="row" formGroupName="{{i}}">

                            <div class="col-md-8"  *ngIf="questions[i].questionType == freeTextType" >
                                <textarea 
                                formControlName="textValue">
                                </textarea>
                            </div>

                            <div class="col-md-8"  *ngIf="questions[i].questionType == radioType" >
                                <div *ngFor="let qAnswer of questions[i].questionAnswers;let j = index">
                                    <input id="{{qAnswer.id}}" 
                                    type="radio" 
                                    value="{{qAnswer.id}}" 
                                    formControlName="questionAnswerId">
                                    <label for="{{qAnswer.id}}">{{qAnswer.description}}</label>
                                 </div>
                            </div>
                            
                            <div class="col-md-8"  *ngIf="questions[i].questionType == checkboxType" >
                                <input type="checkbox" 
                                formControlName="boolValue" />
                                {{ 'Checkbox' }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary" [disabled]="surveyForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>